<section class="books-list ideal">
    <div class="ui-status empty">
        No hay ninguna canción
    </div>
   
    <div class="ui-status error">
        Se ha producido un error
   </div>

   <div class="ui-status loading">
        Cargando...
   </div>
    
    <div class="ui-status ideal">
        <article class="book">
            <!-- <img class="cover" src="https://image.freepik.com/free-icon/cd-rom_318-9291.jpg" alt="">  Esta es la imagen de internet--> 
            <a href="detail.html">  <img class="cover" src="./img/Metro_2033.jpg" height="200px" alt=""> </a>
            <div class="title"> Serie Metro </div>
            <div class="author">  </div>
        </article>

        <article class="book">
            <img class="cover" src="./img/Urban_Sketching-ggeditorial.jpg" height="200px" alt="">
            <div class="title"> Urban Sketching </div>
            <div class="author"> Thomas Thorspecken </div>
        </article>
        
        
        <article class="book">
            <img class="cover" src="./img/ggeditorial_dgea.jpg" height="200px" alt="">
            <div class="title"> Dibujando Gente en Acción </div>
            <div class="author"> Lynne Chapman </div>
        </article>

        
        <article class="book">
            <img class="cover" src="./img/experienciasdeusuario.jpg" height="200px" alt="">
            <div class="title"> Diseño de experiencias de usuario </div>
            <div class="author">G. Allanwood, P. Beare </div>
        </article>

        
        <article class="book">
            <img class="cover" src="./img/La_musica_del_silencio.jpg" height="200px" alt="">
            <div class="title"> La Música del Silencio </div>
            <div class="author"> Patrick Rothfuss </div>
        </article>

        
        <article class="book">
            <img class="cover" src="./img/El_nombre_del_viento.jpg" height="200px" alt="">
            <div class="title"> El Nombre del Viento </div>
            <div class="author"> Patrick Rothfuss </div>
        </article>

        
        <article class="book">
            <img class="cover" src="./img/El_temor_de_un_hombre_sabio.jpeg" height="200px" alt="">
            <div class="title"> El Temor de un Hombre Sabio </div>
            <div class="author"> Patrick Rothfuss </div>
        </article>

        
        <article class="book">
            <img class="cover" src="./img/1984-George_Orwell.jpg" height="200px" alt="">
            <div class="title"> 1984 </div>
            <div class="author"> George Orwell </div>
        </article>

        
        <article class="book">
            <img class="cover" src="./img/Fahrenheit_451-Ray_Bradbury.jpg" height="200px" alt="">
            <div class="title"> Fahrenheit 451 </div>
            <div class="author">Ray Brandbury </div>
        </article>

        
        <article class="book">
            <img class="cover" src="./img/Un_mundo_feliz_Aldous_Huxley.jpg" height="200px" alt="">
            <div class="title"> Un Mundo Feliz </div>
            <div class="author"> Aldous Huxley </div>
        </article>
    </div>
    
    
</section> <!-- Una sección es algo importante -->